.heroSale {
  padding: 0 10%;
  height: 90vh;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.heroSale h1,
p {
  margin: 0;
}
.heroSale p {
  /* font-size: 1.3rem; */
}
.heroSale_btn {
  color: white;
  background: black;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  margin-top: 3rem;
}
.heroSale_btn:hover {
  background: var(--orange);
}
.head1 {
  position: absolute;
  bottom: 0;
  left: 12%;
  width: 30vw;
}
.head2 {
  position: absolute;
  bottom: 0;
  right: 12%;
  width: 30vw;
}
.centerText {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .heroSale {
    height: 50vh;
  }
  .head1 {
    left: 5%;
    width: 40vw;
  }
  .head2 {
    right: 5%;
    width: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .heroSale {
    height: 90vh;
  }
  .head1 {
    left: 5%;
    width: 40vw;
  }
  .head1 {
    left: -10%;
    width: 50vw;
  }
  .head2 {
    right: -10%;
    width: 50vw;
  }
  .heroSale_btn {
    font-size: 0.9rem !important;
    /* padding: 0.5rem; */
  }
}
