.mainBtn {
  color: white;
  background: black;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  border: none;
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.orangeBg {
  background: var(--orange);
}
.blueHover:hover {
  background: var(--blue);
}
.orangeHover:hover {
  background: var(--orange);
}

@media only screen and (max-width: 600px) {
  .mainBtn {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}
@media only screen and (max-width: 350px) {
  .mainBtn {
    font-size: 0.8rem;
    padding: 0.7rem 1.4rem;
  }
}
