.chavsBody {
  position: relative;
}
.head8 {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 35vw;
}
.head9 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20vw !important;
  height: auto;
}
.sapcerTop {
  height: 20vh;
}
.sapcer {
  height: 30vh;
}
@media only screen and (max-width: 1024px) {
  .head8 {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 45vw;
  }
  .head9 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw !important;
  }
  .sapcerTop {
    height: 5vh;
  }
  .sapcer {
    height: 10vh;
  }
}
